<div *ngIf="store && store.id !== 0">
  <div class="card h-100 shadow-sm" >
    <div class="row">
      <section class="col-3">
        <!-- <div class="image position-relative" style="cursor:pointer;"> -->
            <img src="{{store.imageUrl}}" alt="{{store.storeName}}" class="img-fluid bg-info">
        <!-- </div> -->
      </section>
      <section class="col-9">
        <!-- <div class="d-flex justify-content-between align-items-center pb-2"> -->
          <h4>{{store.storeName}}</h4>
          <p>{{store.fullName}}</p>
          <p>{{store.country}}</p>
          <p>{{store.description}}</p>
        <!-- </div> -->
      </section>
    </div>
  </div>
</div>
