<div class="card h-100 shadow-sm">
  <div class="image position-relative" style="cursor:pointer;">
      <img src="{{token.imageUrl}}" alt="{{token.tokenName}}"
        class="img-fluid"
        style="object-fit:contain;
        object-position: center;
         width:400px;
         height:400px;
         border: none 0px #CCC">
      <div class="d-flex align-items-center justify-content-center hover-overlay">
        <!-- <button type="button" class="btn btn-primary fa fa-shopping-cart mr-2"></button> -->
        <button routerLink="/token/{{token.id}}" type="button" class="btn btn-primary">View</button>
      </div>
  </div>

  <div class="card-body d-flex flex-column">
    <a routerLink="/token/{{token.id}}">
      <h5 class="text-uppercase">{{token.tokenName}}</h5>
    </a>
    <h6 class="text-uppercase">{{token.storeName}}</h6>
    <p>Created : {{token.dateCreated | date}}</p>
    <p>Type : {{token.productTypeName}}</p>
    <!-- <p>Image : {{token.imageUrl}}</p> -->
    <!-- <p>Given out : {{token.dateAssigned | date}}</p> -->
  </div>
</div>
