<div class="card h-100 shadow-sm">

  <div class="card-body d-flex flex-column">
    <div style="height: 300px;">
      <img src="{{token.imageUrl}}" alt="{{token.tokenName}}" class="img-fluid bg-info">
    </div>

    <a routerLink="/token/{{token.id}}">
      <h5 class="text-uppercase">{{token.tokenName}}</h5>
    </a>
    <h6 class="text-uppercase">{{token.dateCreated | date}}</h6>
    <h6 class="text-uppercase">{{token.store}}</h6>
    <span class="mb-2">{{token.costPrice | currency}}</span>

    <div class="btn-group mt-auto">
      <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
      <button routerLink="/token/{{token.id}}" type="button" class="btn btn-outline-secondary">View</button>
    </div>
  </div>
</div>
