
<div class="container mt-5">
  <div class="row" *ngIf="token">
    <div class="col-6">
      <img src="{{token.imageUrl}}" alt="{{token.tokenName}}" class="img-fluid w-100">
    </div>
    <div class="col-6">
      <h1>{{token.tokenName}}</h1>

      <h5>Recipient</h5>
      <p>{{token.recipient}}</p>
      <h5>Recipient Name</h5>
      <p>{{token.recipientName}}</p>
      <h5>Date Created</h5>
      <p>{{token.dateCreated | date}}</p>
      <h5>Date Assigned</h5>
      <p>{{token.dateAssigned | date}}</p>
      <h5>Date Collected</h5>
      <p>{{token.dateCollected | date}}</p>
      <h5>Store</h5>
      <p>{{token.store}}</p>
      <h5>Cost Price</h5>
      <p>{{token.costPrice | currency}}</p>
    </div>
    <div class="row mt-5">
        <div class="col-12 ml-3">

        </div>
    </div>
  </div>
</div>



